{# empty Twig template #}
<footer class="footer fixed-bottom bg-primary">
    {% block footer %}
        <div class="row">
            <div class="col-4 text-left txt-footer">
                <a href="#" class="text-white">Contact</a><br>
                <a href="https://github.com/RobinB83/RobinB83.github.io" target="_blank" class="text-white">Cv de BIJAUDY Robin</a>
            </div>
            <div class="col-4 text-center">
                <img class="img-fluid" src="{{ 'images/753331.jpg' }}">
            </div>
            <div class="col-4 text-right text-footer">
                <a href="#" class="text-white">Mentions Légales</a><br>
                <a href="#" class="text-white">Plan du site</a>
            </div>
    {% endblock %}
</footer>