{% extends 'base.html.twig' %}

{% block title %}Hello AisShipTypeController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Navires</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Numéro</td>
                <td>Libelle</td>
            </tr>
            {% for cle, valeur in types %}
                <tr>
                <td>{{ cle }}</td>
                <td>{{ valeur }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
