{% extends 'base.html.twig' %}

{% block title %}Voir Tous{% endblock %}

{% block body %}
    <div class="container">
        <table class="table ">
            <thead>
                <tr>
                    <th> Type </th>
                    <th> Libelle </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                {% for type in types %}
                    <tr class="table">
                        <td>{{ type.aisshiptype }}</td>
                        <td>{{ type.libelle }}</td> 
                        <td> <a href="{{ path('aisshiptype_portscompatibles', {id: type.id}) }}"> Ports compatibles</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
